# Generate Data

combined data from original raw:

https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis/data

In [1]:
import pandas as pd

In [2]:
PATH_DATA = "../../../dt/instacart-data/"

## Get Data

In [6]:
df_cart = pd.read_csv(PATH_DATA+'order_products__prior.csv')
df_products = pd.read_csv(PATH_DATA+'products.csv',usecols=["product_id","department_id","product_name"])
df_orders = pd.read_csv(PATH_DATA+'orders.csv',usecols=["order_id","user_id","order_number"])
df_department = pd.read_csv(PATH_DATA+'departments.csv')

In [13]:
df_orders

         order_id  user_id  order_number
0         2539329        1             1
1         2398795        1             2
2          473747        1             3
3         2254736        1             4
4          431534        1             5
...           ...      ...           ...
3421078   2266710   206209            10
3421079   1854736   206209            11
3421080    626363   206209            12
3421081   2977660   206209            13
3421082    272231   206209            14

[3421083 rows x 3 columns]

In [7]:
df_m1 = pd.merge(df_cart, df_products,on="product_id",how="left")
df_m1 = pd.merge(df_m1, df_department, on="department_id", how="left")
df_m1 = pd.merge(df_m1, df_orders, on="order_id", how="left")

df_m1.sample(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,department_id,department,user_id,order_number
27700984,2921264,31506,7,0,Extra Virgin Olive Oil,13,pantry,81805,10
28559857,3012020,24024,8,1,1% Lowfat Milk,16,dairy eggs,37599,7
27905810,2942688,10941,8,0,Chocolate Chunk Brownie,19,snacks,55855,3
3334172,352127,11520,10,1,Large Alfresco Eggs,16,dairy eggs,93012,25
4875283,514557,41658,7,1,Authentic French Brioche Hamburger Buns,3,bakery,157746,16
12346278,1303262,8732,6,1,Dipps Chocolatey Covered Chocolate Chip Granol...,19,snacks,83376,8
29071917,3066052,27729,12,1,Cold-Pressed Organic Orange,7,beverages,199705,5
24655149,2600224,27966,1,1,Organic Raspberries,4,produce,6978,81
20897188,2204401,45106,1,0,Low Fat Strawberry Yogurt Tubes,16,dairy eggs,94522,2
27869976,2938942,10246,3,1,Organic Celery Hearts,4,produce,51710,12

## Summarize it

In [10]:
# df_m1.groupby(["order_id","user_id"]).product_id.count()
df_m2 = df_m1.groupby(["order_id","order_number","user_id","department"]).product_id.count()
df_m2 = df_m2.unstack().fillna(0).reset_index()

In [11]:
df_m2.to_csv(PATH_DATA+"basket_data.csv",index=False)